header {
  background: #FA6300;
}

.container {
  padding: 16px;
}

#imark {
  display: block;
  margin: 0 auto;
}

#ilogo {
  display: none;
}

main {
  background: white;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

main h1 {
  color: #263b54;
}

footer {
  color: #777;
}

footer a, footer a:visited, footer a:active, footer a:hover {
  color: #777;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

footer #status-code, footer address {
  display: inline;
}

@media (min-width: 500px) {
  #imark {
    display: none;
  }

  #ilogo {
    display: block;
  }
}
