html, body {
    margin: 0px;
    padding: 0px;
}

/* IE11 fixes */
header, main, footer {
    display: block;
}

header {
    background-color: #13294B;
}

#logo {
    display: block;
    height: 100px;
    width: 69px;

    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    padding-bottom: 100px;
}

#main, #footer {
    max-width: 583px;
    margin: 20px auto;
    padding-left: 20px;
    padding-right: 20px;

    color: #555;
    font-size: 1.5em;
}

#footer {
    margin-top: 3em;
}

#main h1 {
    margin-top: 20px;
    margin-bottom: 20px;

    color: #E84A27;
    font-size: 2em;
    font-family: Helvetica, Arial, sans-serif;
}

#footer p {
    font-style: italic;
}

@media (min-width: 783px) {
    #logo {
        width: 583px;
    }
}
